*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
    text-transform: uppercase;

}
header span{
    letter-spacing: 0.7em;
    color: grey;
}
ul{
    list-style: none;
    display: flex;
    gap: 2em;
    
}
ul li a{
    text-decoration: none;
    color: grey;
}
section{
    text-align: center;
    padding: 50px;
    background-color: darkseagreen;
}
button{
    width: 50px;
    height: 30px;
    border-radius: 8px;
    background-color: lavender;
    color: black;
}